.container {
    display: flex;
    width: 500px;
    min-height: 90px;
    margin: 10px 25px 10px 25px;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
    text-decoration: none;
    color: black
}

.container:hover {
    opacity: 50%;
}

.containerContent {
    padding: 10px 20px;
    width: 85%;

}

.containerHeart {
    display: flex;
    width: 15%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    align-items: center;
    justify-content: center;
    border-radius: 0 6px 6px 0;
}

.containerHeart button{
    border: none;
    cursor: pointer;
}

.containerTime {
    display: flex;
    align-items: center;
    height: 30px;
}

.containerTime p {
   font-size: 12px ;
   margin: 0 10px;   
}

.heart {
    color: red; 
    width: 24px; 
    height: 24px;
}
