.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  background-color: var(--primary-color);
}

.menu li {
  min-width: 6rem;
  min-height: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 2px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.menu li:hover {
  cursor: pointer;
  user-select: none;
  opacity: 0.7;
}

.menuItem {
  border: solid 1px #d6d6d6;
}

.activeItem {
  color: var(--azure-color);
  border: solid 1px var(--azure-color);
}
